#add-movie-box {
    border: 1px solid black;
    padding: 1em;
}

#movie-add-button {
    background-color: black;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    margin-top: .5em;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
}

.hidden {
    visibility: hidden;
}
 th, a {
     color: yellowgreen;
 }
 button {
     margin-right: .5em;
 }

 .display-none {
     display: none !important;
 }

 .display-block {
     display: block;
 }

 .id-text {
     display: none;
 }

 /*#edit-movie-box {*/
 /*    display: none !important;*/
 /*}*/